<div class="pokemon-grid">
  <div *ngFor="let pokemon of pokemons | paginate: {itemsPerPage: 20, currentPage: page, totalItems: totalPokemons} " class="box">
    <img src={{pokemon.image}} alt={{pokemon.name}}>
    <!--<p>#{{ pokemon.name }}</p>-->
    <h3 (click)="showPokemonDetails(pokemon)">{{ pokemon.name }}</h3>
    <p>#{{ pokemon.id }}</p>
    <div class="pokemon-type" *ngFor="let type of pokemon.types" [style.backgroundColor]="type | pokemonTypeTag">
      {{ type }}
    </div>
  </div>
  </div>

  <div class="pagination-controls-container">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
    <!--<div class="pagination" style="text-align: right;">
      <button (click)="prevPage()">Previous</button>
      <button (click)="nextPage()">Next</button>
    </div>-->
    <!--<pagination-controls (pageChange)="page($event)"></pagination-controls>-->
