@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
/*BackgroundImage*/
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background-image: url('C:\Users\tania\Desktop\DSPA_POKEDEX-0011be6e69c4c5fece98f75af152a34d9130f09d\POKEDEX\src\assets\images\Pokemon_by_DonH_@unsplashed.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*opacity: 0.9;*/
  filter: grayscale(100%);
}

@media screen and (max-aspect-ratio: 16/9) {
  .background-image {
    height: 100vh;
  }
}

@media screen and (min-aspect-ratio: 16/9) {
  .background-image {
    width: 100vw;
  }
}



/*.background-image {
  position: fixed;*/ /* Change to fixed to make it fill the entire viewport */
  /*top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;*/ /* Ensure the background is behind other content */
  /*overflow: hidden;  
}


.background-image::before {
  content: "";*/ /* Create a pseudo-element to contain the background image */
  /*position: absolute;*/ /* Position the pseudo-element relative to its parent */
  /*top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('C:\Users\tania\Desktop\DSPA_POKEDEX-0011be6e69c4c5fece98f75af152a34d9130f09d\DSPA_POKEDEX-0011be6e69c4c5fece98f75af152a34d9130f09d\src\assets\images\Pokemon_by_DonH_@unsplashed.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  /*filter: blur(2px);*/ /* Apply the blur effect to the background image */
  /*opacity: 0.7;
  display: flex;
}

@media screen and (max-aspect-ratio: 16/9) {
  .background-image::before {
    height: calc(100vw * 9 / 16);*/ /* Adjust height based on aspect ratio for narrower screens */
    /*max-height: 100%;
  }
}

@media screen and (min-aspect-ratio: 16/9) {
  .background-image::before {
    width: 177.77vh;*/ /* Adjust width based on aspect ratio for wider screens */
    /*max-width: 100%;
  }
}*/


/*Header*/
header {
  display: flex;
  justify-content: center;
  align-items: center; /* Updated to vertically center items */
  margin: 0;
  /*margin-bottom: 1px;*/ /* Adjust margin as needed */
  /*background-image: url('assets/images/Pokedex.jpg');*/
  background-size: cover; /* Scale the background image to cover the entire header */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-color: black; /* New background color */
  color: white; /* New text color */
  padding: 30px; /* Reduced padding for compactness */
  /*border-radius: 5px;*/
  font-family: 'Poppins', sans-serif; /* New font family */
  position: fixed; /* Ensure the header stays fixed at the top */
  top: 0; /* Position the header at the top of the viewport */
  left: 0;
  width: 100%; /* Ensure the header spans the entire width of the viewport */
  z-index: 1001; /* Ensure the header stays on top of other content */
  height: 130px;
}

  header img {
    max-width: 100%; /* Ensure the image doesn't exceed the width of the header */
    max-height: 100%; /* Ensure the image doesn't exceed the height of the header */
    object-fit: contain;
    cursor: pointer;
  }

/*Search-Bar*/

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1px;
  padding: 1em 1.5em;
  border-radius: 5px;
  position: fixed;
  top: 130px;
  left: 0;
  width: 100%;
  background-color: black;
}

  .search-bar input {
    flex: 1; /* Take up remaining space */
    margin-right: 10px; /* Add some space between input and button */
    height: 40px; /* Set input height */
    padding: 0 10px; /* Adjust padding for input */
    font-size: 1em; /* Set font size */
    font-family: inherit;
    box-shadow: 2px 2px 2px lightgray;
    border: none;
  }

  .search-bar button {
    background: #ffcc00;
    color: black;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: inherit;
    text-transform: uppercase; /* Capitalize the text */
    font-weight: bolder; /* Make the text bold */
    flex: 0 0 auto;
    box-shadow: 2px 2px 2px lightgray;
  }

    .search-bar button:focus {
      outline: none;
    }

    .search-bar button:active {
      transform: scale(0.98);
    }



@media screen and (max-width: 768px) {
  .search-bar input {
    font-size: 0.8em;
  }

  .search-bar button {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 480px) {
  .search-bar input {
    font-size: 0.6em;
  }

  .search-bar button {
    font-size: 0.6em;
  }
}


.credits-button {
  background: #808080;
  color: white;
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-family: inherit;
  text-transform: uppercase; 
  font-weight: bolder; 
  flex: 0 0 auto;
  box-shadow: 2px 2px 10px lightgray;
  opacity: 0.6;
}

  .credits-button:focus {
    outline: none;
  }

  .credits-button:active {
    transform: scale(0.98);
  }

.footer {
  position: fixed;
  bottom: 0;
  left: 15%;
  transform: translateX(-50%);
}

.app-credits {
  font-size: 20px; /* Set font size */
  font-family: inherit; /* Specify font family */
  color: rgba(255, 204, 0, 0.7); /* Set text color */
  /*margin-top: 250px; 
  margin-bottom: 20px;*/
  margin-left: 100px;
  text-align: left;
  margin: 250px 100px;
}


/*//Pokemon Grid*/
.pokemon-grid {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(1, 1fr));
  grid-gap: 16px;
  padding: 1px;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  align-items: center;
  margin-top: 120px;
}

  .pokemon-grid .box {
    width: 100%;
    min-height: 200px auto;
    /*box-shadow: 5px 5px 3px lightgray;*/
    overflow: auto;
    margin: 30px auto;
    /*min-height: 200px auto;*/
    box-shadow: 1.5px 1.5px 2px lightgray;
    overflow: auto;
    /* margin: 30px auto;*/
    /*backdrop-filter: blur(3px);*/
    background: rgba(255, 204, 0, 0.9);
    padding-block: 5px;
    font-size: 1em;
    font-optical-sizing: auto;
    justify-content: center;
    text-align: center;
  }



.pokemon-type {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  /*font-weight: bold;*/
  text-transform: uppercase;
  font-size: 1em;
  margin-right: 4px;
  color: white;
}



.pagination-controls-container {
  position: fixed; /* Position the container relative to the viewport */
  bottom: 0; /* Align the container to the bottom of the viewport */
  right: 0; /* Align the container to the right side of the viewport */
  margin: 5px; /* Adjust margin as needed */
}


.pagination {
  text-align: right;
  margin-top: 1px; /* Adjust margin as needed */
  margin-bottom: 1px;
}

  .pagination button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 5px;
    font-family: inherit;
  }

    .pagination button:focus {
      outline: none;
    }

    .pagination button:active {
      transform: scale(0.98);
    }





* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin: 10px auto;
  overflow: auto;
  min-height: 50px;
  //border: 3px solid steelblue;
  padding: 5px;
  border-radius: 5px;
  //box-shadow: 5px 5px 3px lightgray;
  
}




/*.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

  .btn:focus {
    outline: none;
  }

  .btn:active {
    transform: scale(0.98);
  }

.btn-block {
  display: block;
  width: 100%;
}

.form-control {
  margin: 20px 0;
}

  .form-control label {
    display: block;
  }

  .form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .form-control-check label {
    flex: 1;
  }

  .form-control-check input {
    flex: 2;
    height: 20px;
  }
*/
